pre {
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 3.125rem 1.25rem;
}

.box__code-editor {
  position: relative;
  margin-bottom: 1rem;
}

.editor {
  position: relative;
  resize: none;
  z-index: 1;
  outline: none;
  background-color: transparent;
  color: transparent;
  caret-color: #444;
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
}

.highlight {
  z-index: 0;
}

.editor,
.highlight {
  height: 400px;
  width: 100%;
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  white-space: nowrap;
  border: 0;
}

.editor,
.highlight,
.highlight * {
  font-size: 1rem;
  font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Ubuntu Mono', monospace;
  line-height: 1.5;
}

iframe {
  width: 100%;
}
